<h1>

  <form action="/pirates" method="post">
    Pirate Name: <input type="text" name="pirate[name]">
    Pirate Weight: <input type="text" name="pirate[weight]">
    Pirate Height: <input type="text" name="pirate[height]">
    </br>
    Ship Name 1: <input type="text" name="pirate[ships][][name]">
    Ship Type 1: <input type="text" name="pirate[ships][][type]">
    Ship Booty 1: <input type="text" name="pirate[ships][][booty]">
    </br>
    Course Topic: <input type="text" name="student[courses][][topic]">
    Course Name: <input type="text" name="student[courses][][name]">
    Course Topic: <input type="text" name="student[courses][][topic]">
    <input type="submit">
  </form>

</h1>
